ipympl==0.5.8
ipython-genutils==0.2.0
ipywidgets==7.5.1
jupyter==1.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.5
mpmath==1.1.0
numpy==1.18.5
octave-kernel==0.32.0
path==13.1.0
pigar==0.10.0
PyYAML==5.3.1
seaborn==0.10.1
statsmodels==0.11.1
sympy @ file:///C:/ci/sympy_1594234545115/work
watermark==2.0.2
widgetsnbextension==3.5.1
